*
{
    font-family: "Segoe UI";
    font-weight: 200;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body
{
    transition: 1.5s;
}
h1
{
    text-align: center;
}
.wrapper
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button
{   position: relative;
    top: 10px;
    color: black;
    padding: 8px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: none;
    font-size: 1em;
}
button:hover
{
   background-color: rgb(45,50,102);
}